<style>
	.registerBtn h5 a {
		color: white;
	}
	input[type='text'],
	input[type='number'],
	textarea {
	  font-size: 16px;
	}
</style>
<div class="row col-md-6 col-md-offset-3">
	<div class="jumbotron">
		<h2>Admin Panel</h2>
		<br>
		<form ng-submit="adminpanel.doIngredient()">
			<h3>Add Ingredient</h3>
			<div class="form-group">
				<label>Name</label>
				<input type="text" autocorrect="off" autocapitalize="none" class="form-control" ng-model="adminpanel.ingredientName">
			</div>
			<button type="submit" class="btn btn-block btn-primary">
				<span ng-if="!adminpanel.processing">Add</span>
				<span ng-if="adminpanel.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
			</button>
			<br>
		</form>
	</div>
</div>
