<style>
		.jumbotron {
			background-color: transparent !important;
		}
		.btn {
			width: 100px !important;
			margin-left: 10px;
		}
		.btn-primary {
			background-color: #4E8DEB !important;
		}
		.btn-login {
			color: white;
			background-color: #44B8AD !important;
		}
		.container {
			width: 100%;
		}
		footer {
			width: 100%;
			position: absolute;
			bottom: 0;
			height: auto;
			margin-left: -15px;
			background-color: #283548;
		}
</style>
<div class="row col-md-6 col-md-offset-3">
	<div class="jumbotron">
		<h1>Bartender App</h1>
		<h4>"Because bartending is life."</h4>
		<a href="/register" class="btn btn-primary">Sign up!</a>
		<a href="/login" class="btn btn-login">Login</a>
	</div>
</div>

<footer>
<div class="row col-md-4 col-md-offset-1">
	<h4>Contact</h4>
	<h5>e-mail: csbartendersupport@gmail.com</h5>
</div>
<div class="row col-md-4 col-md-offset-2">
	<h4>Creators</h4>
	<h5>Brandon Herbert, Erik Leung, Zhenia Steger, Andre Abedmamoore, Carlos, Manuel Lopez, Tyler Corcoran, Deepak Mallampalli, Mike</h5>
</div>
</footer>
